* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #19191a;
  color: #cecece;
}
.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Jost', sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 1rem;
}
.nav-icon {
  font-size: 1.5rem;
  /* color: rgb(44, 44, 44); */
  color: #cecece;
  transition: .3s ease;
  margin: 0 .5rem;
}
.nav-icon:active {
  font-size: 1.45rem;
}
#logo {
  user-select: none;
  font-family: 'Pacifico', cursive;
}

/*  main container start */
.main {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
} 

/* side list start */

.sidelist-container {
  width: 450px;
  max-width: 100%;
  height: 80vh;
}
.sidelist {
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1px solid gray;
  padding-right: 1rem;
}
#music-search {
  width: 20%;
  padding: .1rem;
  border: none;
  border-bottom: 2px solid gray;
  background-color: #19191a;
  transition: .3s ease all;
  color: #cecece;
}
#music-search:focus {
  width: 50%;
  outline: none;
  padding: 5px;
  border-bottom: 2px solid #cecece;
}
#side-list-header {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif ;
  /* color: #C076F8; */
}
#sidelist-music-list {
  margin-top: 0.25rem;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 95%;
}
#sidelist-music-list::-webkit-scrollbar
{
  display: none;
	/* background-color: #cecece; */
	background-color: #39393b;
}

#sidelist-music-list::-webkit-scrollbar
{
  width: 2px;
	/* background-color: #cecece; */
	background-color: #39393b;
}

#sidelist-music-list::-webkit-scrollbar-thumb
{
  background-color: #727272;
  
}

.sidelist-music {
  display: flex;
  align-items: center;
  margin: 0;
  padding: .5rem 0.2rem;
}
.sidelist-music:hover {
  /* background: rgb(230, 230, 230); */
  background: #39393b;
  cursor: pointer;
}
.sidelist-music-cover {
  width: 3rem;
  height: 2.5rem;
}
.sidelist-music-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidelist-music-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.sidelist-music-likeDiv {
  max-height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidelist-music-likeDiv p {
  font-size: 13px;
  margin-left: .25rem;
}
.sidelist-music-name {
  cursor: pointer;
  margin: 0;
  transition: .3s ease all;
}
#close-side-list {
  position: absolute;
  right: -1.55rem;
  width: 1.5rem;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: .2rem 1rem 1rem 0.2rem;
  /* border: 1px solid rgb(32, 32, 32); */
  border: 1px solid #cecece;
  border-left: none;
  cursor: pointer;
  transition: .3s ease all;
}
#close-side-list:hover {
  color: rgb(32, 32, 32);
  background-color: white;
}

/* side list end */

/* music-player start */

.music-player-container {
  width: 900px;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* .music-player-container.solo {
  width: 100vw;
}
.music-player-container.solo .music-photo {
  width: 20rem;
  height: 20rem;
}
.music-player-container.solo .music-controller {
  width: 70vw;
}
.music-player-container.solo .music-name {
  font-size: 1.5rem;
}

.music-player-container.solo #volume {
  width: 130px;
} */


.music-name {
  margin: 3rem 0;
  text-align: center;
}
.music-photo {
  position: relative;
  width: 20rem;
  height: 20rem;
}
.music-photo-border {
  position: absolute;
  width: 21rem;
  height: 21rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  border: 3px dashed #C076F8;
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='9' stroke-dasharray='38' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e"); */
}
.music-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* music-player end */

/* music-controller start */

.music-controller {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.music-player-container-upper {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1;  
}

.current-music-div {
  grid-column: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.side-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.like-div {
  display: flex;
  flex-direction: column;  /* make this row after more sidebar options come */
  align-items: center;
}
.like-btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.like-div p {
  font-weight: 500;
  user-select: none;
  margin-top: .25rem;
}

.upper-controller {
  grid-column: 3;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-bottom: 1rem;
  padding-left: 5px
}

#duration-text {
  user-select: none;
}

#controller-btn {
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#music-prev-next-btn {
  font-size: 2rem;
  cursor: pointer;
}

#music-play-btn {
  font-size: 2rem;
  margin: 0 .5rem;
  cursor: pointer;
  transition: .2s ease;
}

#music-play-btn:active, #music-prev-next-btn:active, #controller-btn:active {
  transform: scale(0.9);
}

#volume-div {
  width: max-content;
  transition: .3s ease;
  margin-left: auto;
  grid-column: 5;
}

#volume-div:active  {
  transform: scale(1.2);
}

#volume-icon {
  font-size: 1.5rem;
}
#volume {
  /* background: black; */
  color: #C076F8;
  width: 100px;
  margin-left: 5px;
}

#duration-controller {
  margin-top: 2rem;
  /* -webkit-appearance: none; */
  background-color: #19191a;
}
#duration-controller .MuiSlider-rail {
  color: #C076F8;
  height: 5px;
}
#duration-controller > .MuiSlider-track {
  color: #C076F8;
  height: 5px;
}
#duration-controller .MuiSlider-thumb {
  color: #C076F8;
  width: 15px;
  height: 15px;
}
/* loading screen start */
.loading-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #19191a;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border: 2px solid #C076F8;
  border-radius: 5px;
}

.ball {
  width: 2rem;
  height: 2rem;
  background-color: #C076F8;
  margin: 0 1rem;
  border-radius: 50%;
}

.ball:nth-child(1) {
  animation: ballAnimation 0.5s ease infinite alternate;
}
.ball:nth-child(2) {
  animation: ballAnimation 0.5s .15s ease infinite alternate;
}
.ball:nth-child(3) {
  animation: ballAnimation 0.5s .3s ease infinite alternate;
}
/* loading screen end */

@keyframes ballAnimation{
  from {
    transform: translateY(100%);
    opacity: 1;
    
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 90%;
  }
  .sidelist-music-name {
    font-size: .9rem;
  }
  #volume {
    width: 100px;
  }
  .sidelist-container {
    width: 375px;
  }
  .music-player-container {
    width: 750px;
  }
  .music-photo {
    width: 15rem;
    height: 15rem;
  }
  .music-photo-border {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (max-width: 1199px) {

  .sidelist-music-name {
    font-size: .9rem;
  }

  .sidelist-container {
    width: 320px;
  }

  .music-player-container {
    width: 650px;
    max-width: 100%;
  }

  .music-photo {
    width: 12rem;
    height: 12rem;
  }

  .music-photo-border {
    width: 13rem;
    height: 13rem;
  }

  .music-controller {
    width: 90%;
    margin-bottom: 3rem;
  }
  #controller-btn {
  font-size: 1.5rem;
  }
  #music-prev-next-btn {
    font-size: 1.7rem;
  }
  #music-play-btn {
    font-size: 1.7rem;
  }
  #volume {
    width: 70px;
  }
  #duration-text {
    font-size: 1rem
  }
  #duration-controller {
    margin-top: .8rem;
  }
}

@media screen and (max-width: 960px) {
  input,
  textarea,
  button,
  select,
  svg,
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .container {
    width: 95%;
  }
  .sidelist-container {
    width: 85%;
    margin: 0 auto;
    height: 100%;
  }
  .main {
    flex-direction: column;
    margin-top: .5rem;
  }
  #close-side-list {
    display: none;
  }
  .music-player-container {
    width: 95%;
    height: 100%;
    margin: 3rem auto;
    margin-bottom: 1rem;
  }
  .music-controller {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .nav-icon:active {
    font-size: 1.4rem;
  }
  .sidelist {
    border-right: 1px solid gray;
  }
  #sidelist-music-list {
    height: 18rem;
    overscroll-behavior: contain
  }
  .sidelist-music {
    flex-direction: row;
    justify-content: space-between;
  }
  .sidelist-music-info {
    max-width: calc(100% - 3rem);
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .sidelist-music-likeDiv {
    max-height: 100%;
  }
  .sidelist-music-name {
    font-size: .8rem;
  }
  .sidelist-music-cover {
    width: 2rem;
    height: 2rem;
  }
 
  
  .music-name {
    font-size: 0.9rem;
    margin-top: 2rem;
  }
  .music-photo {
    width: 10rem;
    height: 10rem;
  }
  .music-photo-border {
    width: 11rem;
    height: 11rem;
  }
  #controller-btn,#music-prev-next-btn,#music-play-btn {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .upper-controller {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .controller-btns-div {
    grid-column: 3;
  }
  .stop-btns-div {
    grid-row: 1;
    grid-column: 2;
  }
  #controller-btn {
  font-size: 1.7rem;
  }
  #music-prev-next-btn {
    font-size: 2rem;
  }
  #music-play-btn {
    font-size: 1.7rem;
  }
  #volume-div {
    display: none !important;
  }
  #duration-text {
    font-size: .8rem
  }
  #duration-controller {
    margin-top: 1rem;
  }
}

/* music-controller end */
